.phone-text-input {
  color: #464250;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.phone-number-shower {
  display: flex;
  height: 115px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #F1F2F4;
  font-size: 55px;
  margin-bottom: 40px;
}

@media (orientation: landscape) {
  .phone-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .phone-col {
    width: 48%;

    &:first-child {
      padding-right: 15px;
    }

    &:last-child {
      padding-left: 15px;
    }
  }

  .phone-text-input {
    font-size: 24px;
  }

  .phone-number-shower {
    height: 70px;
    padding: 8px 16px;
    border-radius: 30px;
  }
}

