.atom-button {
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  cursor: pointer;

  &.w-100 {
    width: 100%;
    max-width: 100% !important;
  }

  &.primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
  }

  &.secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--text);
  }

  &.thirty {
    border: 5px solid #0042C7;
    color: #0042C7;
    background-color: transparent;
  }

  &.initial {
    height: 140px;
    border-radius: 30px;
    font-weight: 600;
    line-height: 24px;
    font-size: 40px;
    padding: 16px;
    width: 100%;
    max-width: 900px;
  }


}

@media (orientation: landscape) {
  .atom-button {
    &.initial {
      height: 79px;
      padding: 8px 16px;
      text-align: center;
      font-size: 24px!important;
      font-weight: 600!important;
      line-height: 24px!important;
      border-radius: 20px;
    }

    &.thirty {
      border-radius: 30px;
      border: 3px solid #0042C7;
    }
  }
}

