.layout_general {
  flex-direction: column;
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.layout-inner {
  margin-bottom: auto;
  overflow-y: auto;
}
