/* ----------------------------------------------------------------------------------------------------------- Colors */

:root {
  --primary: #1941BF;
  --secondary: #FFC629;
  --text: #464250;
  --white: #ffffff;
  --dark: #000000;
  --grey: #F7F7F7;
  --blue: #2166B8;
  --yellow: #F9B14C;
  --green: #239C85;
  --pink: #FF69B4;
  --violet: #9E3FF6;
  --red: #E10000
}


