.base-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.paper-grey {
  background-color: var(--grey);
  padding: 50px 1rem;

  &.py-100 {
    padding: 100px 0;
  }
}

.paper-purple {
  background-color: var(--primary-05);
  padding: 50px 0;
}

.row-even-reverse-outer-nth2 > .content-column-with-image:nth-child(even) > div > .row {
  flex-direction: row-reverse;
}

.logo {
  width: 250px;
  height: 60px;
}

.cursor-pointer {
  cursor: pointer;
}

.reset-input {
  outline: none;
  border: none;
  border-radius: 0;
  line-height: 1.6;
  padding: 2px 0 0 0;
  background-color: transparent;

  &::placeholder {
    color: rgba(40, 40, 40, 0.3);
  }
}

.position-relative {
  position: relative;
}

.general-padding {
  padding: 100px 0;
}

.border-radius-20px {
  border-radius: 20px;
}

.border-radius-50 {
  border-radius: 50%;
}

.sub-item {
  border-radius: 30px;
  border: 2px solid var(--secondary);
  background: var(--white);
  font-size: 10px;
  padding: 2px 8px 0 8px;
  font-weight: 500;
  height: 26px;
  display: flex;
  align-items: center;
}

.auth-side-container {
  padding: 36px;
  width: 100%;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 3;
  background: rgba(25, 65, 191, 0.60);
}

.maxw-100 {
  max-width: 100% !important;
}

.profile-image {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

.w-40px {
  width: 40px!important;
  height: 40px!important;
}

.overflow-y-auto {
  overflow-y: auto;
}

.h-100-by-header-align {
  height: calc(100vh - 100px);
}

.maxw-400px {
  max-width: 400px;
}



.border-left {
  border-left: 1px solid var(--secondary-10);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.show-slowly {
  animation: fade-in .4s ease-in;
}


@media (max-width: 767.98px) {
  .logo {
    width: 200px;
  }

  .mobile-resizer {
    height: 500px;
    object-fit: cover;
  }

  .maxw-400px {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 575.98px) {
  .h-100-by-header-align {
    height: calc(100vh - 70px);
  }
}

.overlay-color {
  background-color: #00000066;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

html {
  scroll-behavior: smooth;
}

.show-on-tablet {
  display: none;
}

.object-cover {
  object-fit: cover;
}

.profile-circle-image {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
}

.kids-circle {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 50%;
}

@media (max-width: 1199.98px) {
  .show-on-tablet {
    display: block;
  }

  .hide-on-tablet {
    display: none;
  }

  .handle-circle-outer {
    flex-wrap: wrap;
    overflow-x: initial!important;

    .me-10px {
      margin-right: 0!important;
      margin-bottom: 10px;
    }
  }
}

@media (min-width: 1200px) {
  .maxw-lg-400px {
    max-width: 400px;
  }
}

.transition-ease {
  transition: all 0.2s ease;
}

.detail-carousel-outer {
  height: 230px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 32px;
}

.overflow-x-auto {
  overflow-x: auto;
}

.general-main {
  padding: 200px 0;
}

@media (orientation: landscape) {
  .general-main {
    padding: 100px 0;
  }
}

.page-splash {
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;

  &.with-bg {
    background-size: contain;
    background-position: center center;
  }

  &.secondary {
    background-color: #F0F6FF;
  }

  &.disable-align {
    align-items: flex-start;
    justify-content: normal;

    &.second {
      overflow-y: auto;
      padding-top: 300px;
    }
  }

  &.second {
    background-color: transparent !important;
  }
}

@media (max-height: 1680px) and (orientation: portrait) {
  .page-splash {
    align-items: flex-start;
    overflow-y: auto;

    &.second {
      padding-top: 200px;
    }
  }
}


.splash-logo {
  max-width: 1000px;
}

@media (orientation: landscape) {
  .splash-logo {
    max-width: 500px;
  }

  .page-splash {

    &:not(&.no-fend) {
      align-items: flex-end;
    }
  }
}

.primary-input {
  padding: 10px 80px;
  height: 135px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;

  &.is-invalid {
    border: 4px solid var(--red);
    position: relative;

    &:after {
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--red);
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .reset-input {
    height: 115px;
    width: 100%;
    font-size: 36px;
    font-weight: 600;
  }

  &.sms-side {
    .reset-input {
      font-size: 64px;
      color: #0348AC;
    }
  }
}

.logo-light {
  width: 300px;
}

.btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 36px;
  line-height: 1.5;
  border-radius: 0;
  border: none;
}

button, select {
  text-transform: none;
}

.primary-button {
  height: 135px;
  background: #FDC609;
  width: 100%;
  color: #0134D8;
}

.secondary-button {
  background-color: transparent;
  border: 1px solid #fff;
  height: 80px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  font-weight: 400;

  &.secondary {
    color: #0348AC;
    border-color: #0348AC;
  }
}



@media (orientation: landscape) {
  .portrait-row {
    display: flex;
    align-items: center;
  }

  .portrait-column {
    padding: 0 20px;
    width: 50%;

    &.w-40 {
      width: 40%;
    }

    &.w-60 {
      width: 60%;
    }
  }
}

@media (orientation: portrait) and (max-height: 1680px) {
  .portrait-row {
    padding-top: 50px;
  }
}

@media (orientation: portrait) and (max-height: 1350px) {
  .portrait-row {
    padding-top: 90px;
  }

  .splash-image {
    max-width: 400px!important;
  }
}

@media (orientation: portrait) and (max-width: 575px) {
  .portrait-row {
    padding-top: 150px;
  }
}

.lef-top-abs {
  position: absolute;
  left: 0;
  top: 40px;
}

.header-auth {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.bg-blue {
    background-color: var(--primary);;
  }

  &.abs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &.secondary {
      background-color: #F0F6FF;
      z-index: 9;
    }
  }
}

.otp-row {
  margin: 0 -15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.otp-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1/1;
  margin: 15px;
  background-color: #fff;
  font-size: 36px;
  font-weight: 600;
}

.atom-counter {
  width: 264px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 64px;
  font-weight: 400;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #FFF;

  &.blue {
    color: #0348AC;
    border-color: #0348AC;
  }

}

.cards-row {
  display: flex;
  margin: 0 -6%;
  padding: 0 %5;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;

  &.no-margin {
    margin: 0;
  }
}

.circle-text {
  color: #0348AC;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

.circle-small {
  color: #0348AC;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 25px */
  margin: 0;
  vertical-align: top;
  position: relative;
  top: 10px;
  margin-left: -10px;
}

.cards-row-item {
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  aspect-ratio: 1/1;
  cursor: pointer;
  margin-bottom: 40px;

  &.three-columns {
    width: 30%;
  }
}

@media (orientation: landscape) {
  .cards-row-item {
    aspect-ratio: 1/.3;
  }
}

.cards-circle {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4F7FB;
  margin: 0 auto 34px auto;

  img {
    width: 120px;
  }
}

.font-head-cards {
  color: #192A61;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  left: 0;
  top: -100px;
}

.invoice-header {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 16px 30px;
  width: 100%;
  background-color: #0348AC;
  margin-bottom: 40px;
}

.invoice-card {
  background-color: #fff;
  display: flex;
  margin-bottom: 35px;
}

.invoice-card-middle-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 10px;
  color: #192A61;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
}

.invoice-card-start, .invoice-card-middle {
  width: 100%;
}

.invoice-card-middle {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.invoice-card-start {
  max-width: 360px;
}

.invoice-card-start-item {
  margin: 15px 10px;
  display: flex;
  align-items: center;
  border: 1px solid #E5EDFA;
  background: #F0F6FF;
  padding-left: 10px;
  min-height: 70px;

  img {
    margin-right: 20px;
  }
}

.invoice-start-content {
  p {
    color: #A4AABE;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }

  h2 {
    color: #192A61;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
}

.c-card-head {
  color: #192A61;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 22.5px */
}

.c-card-paragraph {
  color: #0348AC;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 30px */
}

.card-package-details {
  background: #FFA928;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.card-buy {
  display: flex;
  align-items: center;

  img {
    width: 36px;
    margin-right: 12px;
  }

  span {
    color: #192A61;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }
}

.invoice-card-btn {
  margin: 15px 10px;
  background-color: #FDC609;
  cursor: pointer;
  min-width: 150px;
  color: #0024D4;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pay-text {
  margin-bottom: 50px;
  margin-top: 100px;

  p {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    margin: 0;
  }

  h2 {
    color: #0348AC;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
  }

}

.socket-btns-outer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.s-btns {
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 40px */
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
}

.btn-finish {
  background: #303B58;
  color: #fff;
}

.btn-new {
  background: #0348AC;
  color: #fff;
}

.btn-give-up {
  background: #E60000;
  color: #fff;
}

.progress-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
}

.login-row {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  margin-bottom: 50px;

  h2 {
    padding-top: 15px;
    margin: 0 0 0 35px;
    font-weight: 500;
  }
}

@media (orientation: landscape) {
  .primary-input, .primary-button {
    height: 100px;
  }

  .primary-input {
    padding: 10px;
  }

  .me-4 {
    margin-right: 2rem!important;
  }
}

@media (max-height: 1520px) and (orientation: portrait) {
  .primary-input, .primary-button {
    height: 100px;
  }

  .mb-5 {
    margin-bottom: 2rem !important;
  }
}

.align--really-center {
  align-items: center!important;
}

.loading_general {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(25, 65, 191, 0.25);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) and (orientation: portrait){
  .portrait-row {
    max-width: 600px;
    margin: 0 auto;
  }

  .page-splash.second {
    padding-top: 125px;
  }

  .header-auth.abs {
    left: 25px;
    right: 25px;
  }

  html, body {
    font-size: 10px;
  }

  .secondary-button {
    height: 60px;
    min-width: 160px;
    font-size: 24px;
  }

  .general_logo {
    width: 60px;
  }

  .header-auth {
    padding-top: 20px;
  }

  .portrait-row {
    padding-top: 0;
  }

  .primary-input, .primary-input input, .primary-button {
    height: 65px!important;
    font-size: 24px!important;
  }

  .fz-36 {
    font-size: 1.65rem !important;
    line-height: 26px !important;
  }

  .splash-image{
    max-width: 300px!important;
    margin-top: 25px;
  }

  .splash-next {
    width: 120px;
  }

  .page-splash {
    align-items: center;
    overflow-y: hidden;
  }

  .lef-top-abs {
    left: 25px;
  }

  .welcome-image {
    max-width: 300px!important;
  }

  .cards-circle {
    width: 120px;
    height: 120px;
  }

  .cards-circle img {
    width: 60px;
  }

  .cards-row-item .text-center .mb-4 {
    width: 120px;
    object-fit: scale-down;
    height: auto;
  }

  .primary-input {
    padding: 10px 30px;

    img {
      width: 30px;
    }
  }

  .page-splash.disable-align.second {
    padding-top: 125px;
  }

  .invoice-header {
    height: 80px;
  }

  .circle-text {
    font-size: 36px;
  }
}
